@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

.tamaño {
    object-fit: cover;
}

img {
    object-fit: cover;
}

/*botonera y footer*/
.bg-celeste {
    background-color: cornflowerblue;
    color: white;
}

.cabecera {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.margenes {
    margin: 0.5em;
}

.boton-search {
    color: white;
    background-color: black;
    border-radius: 0.5em;
}

.title-h1 {
    margin: 0.3em;
    justify-content: center;
    align-items: center;
    display: flex;
}

.h6-estilo {
    align-items: center;
    text-align: center;
    color: rebeccapurple;
}

/*formulario*/
.text-blue {
    color: blue;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.align-input {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0.7em;
    width: 70%;
    margin-left: 24em;
}

/*navbar*/
.navbar-nav {
    display: flex;
    align-items: flex-start;
    text-align: start;
    justify-content: flex-start;
}

/*card de bs*/
.margen-card {
    margin: 1em;
    padding: 0em 1em;
}

.card-title {
    text-align: center;
    font-size: 1.4em;
}

.color-card {
    font-size: 1.3em;
}

/*form de netsletter*/
.centrar-form {
    text-align: center;
}

.margenes-input {
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 1em;
}

.boton-registrarse {
    background-color: black;
    color: white;
    border-radius: 0.9em;
    margin-bottom: 1.1em;

}

/*footer*/
footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-p {
    margin: 0.5em;
}

.text-footer {
    justify-content: center;
    display: flex;
    align-items: center;
}

.footer-icon-conteiner {
    display: flex;
    justify-content: flex-end;

}

.footerIcon2 {
    margin: 0.2em;

}

/*selector de productos:*/
#selectOpciones {
    background-color: lightskyblue;
    color: white;
    font-size: 1em;
}

/*titles de index*/

.titles {
    text-align: center;
    margin: 0.5em;
}

.tamaño {
    object-fit: cover;
}

/*botonera y footer*/
.bg-celeste {
    background-color: cornflowerblue;
    color: white;
}

.cabecera {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.margenes {
    margin: 0.5em;
}

.boton-search {
    color: white;
    background-color: black;
    border-radius: 0.5em;
}

.title-h1 {
    margin: 0.3em;
    justify-content: center;
    align-items: center;
    display: flex;
}

.h6-estilo {
    align-items: center;
    text-align: center;
    color: mediumseagreen;
}

/*formulario*/
.text-blue {
    color: blue;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.align-input {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0.7em;
    width: 70%;
    margin-left: 24em;
}

.padding-text {
    padding: 0.2em;
}

/*navbar*/
.navbar-nav {
    display: flex;
    align-items: flex-start;
    text-align: start;
    justify-content: flex-start;
}

.colors {
    background-color: grey;
    color: white;
    border-color: transparent;
}

/*imagenes del carrito*/
.widht {
    display: flex;
    object-fit: cover;
}

/*modal de carrito*/
.display {
    display: flex;
    flex-direction: row;
}

.img-c {
    display: block;
    margin: auto;
    max-width: 150px;
}

.modal-p {
    display: flex;
    justify-content: center;
    margin: 0;
}

.bold {
    display: flex;
    margin: 0.5em 0em;
    font-weight: bold;
    color: black;
align-items: end;
justify-content: end;
}

.card-body {
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: end;
    align-items: end;
}

.text .text-modal {
    text-transform: lowercase;
    font-size: 14px;
    font-weight: 700;
    overflow: hidden;
    margin: auto;
}

/*card de bs*/
.margen-card {
    margin: 1em;
}

.card-title {
    text-align: center;
    font-size: 1.3em;
    margin: 0.5em;
}

.text-color {
    font-weight: bold;
    color: lightskyblue;
}

.color {
    background-color: #FFB6C1;
    color: white;
    margin: 0.5em;
    border-color: transparent;
}

/*form de netsletter*/
.centrar-form {
    text-align: center;
}

.margenes-input {
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: blue;
    font-size: 1em;
}

.boton-registrarse {
    background-color: black;
    color: white;
    border-radius: 0.4em;
    margin-bottom: 1.1em;
    border-color: transparent;

}

/*footer*/
footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}

.footer-p {
    margin: 0.5em;
    text-align: center;
    display: flex;
    justify-content: center;
}

.footer-icon-conteiner {
    display: flex;
    border: 2px blueviolet;
    justify-content: flex-end;
    box-sizing: border-box;
}

.footerIcon2 {
    margin: 0.2em;

}

/*selector de productos:*/
#selectOpciones {
    background-color: lightskyblue;
    color: white;
    font-size: 1em;
}

/*titles de index*/

.titles {
    text-align: center;
    margin: 0.5em;
}

/*formulario*/
.title-contacto {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 1.3em;
    color: gray;
    margin: 0.5em;
}

.contacto-Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: blue;
}

.btn-enviar {
    background-color: #F08080;
    color: white;
    border-radius: 0.2em;
    margin: 0.5em;
    border-color: transparent;
}

label {
    margin: 0.3em;
}